Langileak.dtd


<!ELEMENT Langileak (Bulegaria*, Saltzaileak*)>
<!ATTLIST Langileak
          xmlns:xsi CDATA #IMPLIED
          xsi:noNamespaceSchemaLocation CDATA #IMPLIED>

<!ELEMENT Bulegaria (Izena, Abizena, Emaila, Telefonoa, Data, Nagusia, LanpostuDeskribapen, Lanpostua)>
<!ATTLIST Bulegaria
          id CDATA #REQUIRED>

<!ELEMENT Saltzaileak (Izena, Abizena, Emaila, Telefonoa, Data, Nagusia, Erabiltzaile, Pasahitza)>
<!ATTLIST Saltzaileak
          id CDATA #REQUIRED>

<!ELEMENT Izena (#PCDATA)>
<!ELEMENT Abizena (#PCDATA)>
<!ELEMENT Emaila (#PCDATA)>
<!ELEMENT Telefonoa (#PCDATA)>
<!ELEMENT Data (#PCDATA)>

<!ELEMENT Nagusia (IzenAbizena)>
<!ATTLIST Nagusia
          nagusiID CDATA #IMPLIED>
<!ELEMENT IzenAbizena (#PCDATA)>

<!ELEMENT LanpostuDeskribapen (#PCDATA)>
<!ELEMENT Lanpostua EMPTY>
<!ATTLIST Lanpostua
          idLanpostu CDATA #REQUIRED>

<!ELEMENT Erabiltzaile (#PCDATA)>
<!ELEMENT Pasahitza (#PCDATA)>
