Markatzekolengoaiak/hegaldiak/hegaldiak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 
  <xs:element name="hegaldiak">
    <xs:complexType>
      <xs:sequence>
      
        <xs:element name="hegaldia" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="jatorria" type="xs:string"/>
              <xs:element name="helmuga" type="xs:string"/>
              <xs:element name="irteera" type="xs:time"/>
              <xs:element name="iritsiera" type="xs:time"/>
              <xs:element name="bidaiariak" type="xs:integer"/>
            </xs:sequence>

          
            <xs:attribute name="operadorea" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
