Markatzekolengoaiak/hegaldiak/hegaldiak3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- 
Aurrekoari gehitzen zaio:
- Hegaldi bakoitzako beharrezkoa den, eta bakarra (ID) izango den "zenbaki" atributua: 
    "VU" edo "IB" hasita, 
    jarraian gidoia, 
    jarraian bi zenbaki,
    eta azkenik bi karakterez osatutako katea
-->


<xs:simpleType name="string">
<xs:restriction base="xs:string">
<xs:pattern value="(VU|IB)-[0-9]{2}[a-z]{2}"/>
</xs:restriction>
</xs:simpleType>



<xs:simpleType name="string">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vueling"/>
      <xs:enumeration value="Iberia"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="string">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bilbo"/>
      <xs:enumeration value="Bartzelona"/>
      <xs:enumeration value="Madril"/>
      <xs:enumeration value="Sevilla"/>
      <xs:enumeration value="Mallorca"/>
      <xs:enumeration value="Porto"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="integer">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="40"/>
      <xs:maxInclusive value="80"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="hegaldiak">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hegaldia" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="jatorria" type="string"/>
              <xs:element name="helmuga" type="string"/>
              <xs:element name="irteera" type="xs:time"/>
              <xs:element name="iritsiera" type="xs:time"/>
              <xs:element name="bidaiariak" type="integer"/>
            </xs:sequence>
            <xs:attribute name="operadorea" type="string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>