Markatzekolengoaiak/hegaldiak/hegaldiak4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


  <xs:simpleType name="kodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BIO|BCN|MAD|SVQ|PMI|OPO)"/>
    </xs:restriction>        
       </xs:simpleType>
  



<xs:simpleType name="string">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vueling"/>
      <xs:enumeration value="Iberia"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="string">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bilbo"/>
      <xs:enumeration value="Bartzelona"/>
      <xs:enumeration value="Madril"/>
      <xs:enumeration value="Sevilla"/>
      <xs:enumeration value="Mallorca"/>
      <xs:enumeration value="Porto"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="integer">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="40"/>
      <xs:maxInclusive value="80"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="hegaldiak">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hegaldia" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="jatorria" type="string"/>
              <xs:element name="helmuga" type="string"/>
              <xs:element name="irteera" type="xs:time"/>
              <xs:element name="iritsiera" type="xs:time"/>
              <xs:element name="bidaiariak" type="integer"/>
            </xs:sequence>
            <xs:attribute name="operadorea" type="string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>