weberronka/Langileak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Langileak">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Bulegaria" type="tipoBulegaria"/>
        <xs:element name="Saltzaileak" type="tipoSaltzaile"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="tipoBulegaria">
    <xs:sequence>
      <xs:element name="Izena" type="xs:string"/>
      <xs:element name="Abizena" type="xs:string"/>
      <xs:element name="Emaila" type="xs:string"/>
      <xs:element name="Telefonoa" type="xs:string"/>
      <xs:element name="Data" type="xs:string"/>
      <xs:element name="Nagusia">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="IzenAbizena" type="xs:string"/>
          </xs:sequence>
          <xs:attribute name="nagusiID" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="LanpostuDeskribapen" type="xs:string"/>
      <xs:element name="Lanpostua">
        <xs:complexType>
          <xs:attribute name="idLanpostu" type="xs:integer" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="tipoSaltzaile">
    <xs:sequence>
      <xs:element name="Izena" type="xs:string"/>
      <xs:element name="Abizena" type="xs:string"/>
      <xs:element name="Emaila" type="xs:string"/>
      <xs:element name="Telefonoa" type="xs:string"/>
      <xs:element name="Data" type="xs:string"/>
      <xs:element name="Nagusia">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="IzenAbizena" type="xs:string"/>
          </xs:sequence>
          <xs:attribute name="nagusiID" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Erabiltzaile" type="xs:string"/>
      <xs:element name="Pasahitza" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
  </xs:complexType>

</xs:schema>